GOOGLE_SERVICE_ACCOUNT_JSON=base64_encoded_json_here
FRAUD_SHEET_ID=1oE_RHKrID2rVQFXTIDDFQCzPHhdTbe30cO_OSNV-us4
ANALYZED_SHEET_ID=1YlOACxEFkLC5juswscMzAwEzd-Ob4qqg6DaiDmVUP80
N8N_WEBHOOK_URL=https://yashvanth12.app.n8n.cloud/webhook/fraud-manual
SCORE_THRESHOLD=70
